[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
selenium = "*"
coverage = "*"
requests = "*"
gunicorn = "*"
django-heroku = "*"
psycopg2 = "==2.7"
psycopg2-binary = "*"
whitenoise = "*"

[requires]
python_version = "3.7"
