{% extends 'base.html' %}

{% block title %} - Résultats
{% endblock %}

{% block content %}
  <section id="user_account_section_block_top" class="page-section h-auto">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h1>Ma recherche</h1>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container my-auto">
      <h2>{{ food.name }}</h2>
      <a>{{ food.url }}</a>
    </div>
  </section>
{% endblock %}