{% extends 'base.html' %}

{% block title %} - Résultats
{% endblock %}

{% block content %}
  <section id="user_account_section_block_top" class="page-section h-auto">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h1>Ma recherche</h1>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container my-auto">
      {% if queryset %}
        {% for subset in queryset %}
          <div class="row">
            {% for food in subset %}
              <div class="col-lg-4 col-sm-8 mx-auto">
                <a href="{% url 'core:product' id=food.id %}">
                  <div class="img_and_nutriscore">
                    {% if food.nutriscore == 'A' %}
                      <div class="nutriscore rank_a">{{ food.nutriscore }}</div>
                    {% elif food.nutriscore == 'B' %}
                      <div class="nutriscore rank_b">{{ food.nutriscore }}</div>
                    {% elif food.nutriscore == 'C' %}
                      <div class="nutriscore rank_c">{{ food.nutriscore }}</div>
                    {% elif food.nutriscore == 'D' %}
                      <div class="nutriscore rank_d">{{ food.nutriscore }}</div>
                    {% elif food.nutriscore == 'E' %}
                      <div class="nutriscore rank_e">{{ food.nutriscore }}</div>
                    {% endif %}
                    <img src="{{ food.image_url }}" alt="food_image" class="food_image">
                  </div>
                </a>
                <p class="text-center">{{ food.name }} par {{ food.brand }}</p>
                {% if user.is_authenticated %}
                  <form>
                    <button>Sauvegarder</button>
                  </form>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      {% else %}
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <h1>Pas de résultats !</h1>
          </div>
        </div>
      {% endif %}
    </div>
  </section>
{% endblock %}
