{% extends 'base.html' %}

{% block title %} - Résultats
{% endblock %}

{% block content %}
  <section class="page-section h-25 first_section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-auto">
          <h1 class="section_title text-center">{{ research.name }}</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section h-auto">
    <div class="container my-auto">
      {% if queryset %}
        <h2 class="text-center my-5">Vous pouvez remplacer cet aliment par:</h2>
        {% for subset in queryset %}
          <div class="row">
            {% for food in subset %}
              <div class="col-lg-4 col-sm-12 justify-content-center">
                <div class="product_block mx-auto">
                  <a href="{% url 'core:product' id=food.id %}">
                    {% if food.nutriscore == 'A' %}
                      <div class="nutriscore rank rank_a">{{ food.nutriscore }}</div>
                    {% elif food.nutriscore == 'B' %}
                      <div class="nutriscore rank rank_b">{{ food.nutriscore }}</div>
                    {% elif food.nutriscore == 'C' %}
                      <div class="nutriscore rank rank_c">{{ food.nutriscore }}</div>
                    {% elif food.nutriscore == 'D' %}
                      <div class="nutriscore rank rank_d">{{ food.nutriscore }}</div>
                    {% elif food.nutriscore == 'E' %}
                      <div class="nutriscore rank rank_e">{{ food.nutriscore }}</div>
                    {% elif food.nutriscore == 'Z' %}
                      <div class="nutriscore rank rank_z">?</div>
                    {% endif %}
                    <img src="{{ food.image_url }}" alt="food_image" class="food_image">
                  </a>
                  <p class="text-center food_title">{{ food.name }} par {{ food.brand }}</p>
                  {% if user.is_authenticated %}
                    <div class="save_button_placeholder"></div>
                    {% if food in favorite_foods %}
                      <div>
                        <button class="btn btn-success active save_button" disabled>
                          <i class="fas fa-check"></i> Sauvegardé
                        </button>
                      </div>
                    {% else %}
                      <form class="favorite_form save_button" action="{% url 'core:favorite' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="food_id" value="{{ food.id }}">
                        <button type="submit" class="btn btn-outline-dark">
                          <i class="fas fa-save"></i> Sauvegarder
                        </button>
                      </form>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>
        {% endfor %}

        <div class="pagination row justify-content-center my-5">
      <span class="step-links">
        {% if queryset.has_previous %}
          <a href="?page=1">&laquo; Début</a>
          <a href="?page={{ queryset.previous_page_number }}">précedente</a>
        {% endif %}

        <span class="current">
            Page {{ queryset.number }} de {{ queryset.paginator.num_pages }}.
        </span>

        {% if queryset.has_next %}
          <a href="?page={{ queryset.next_page_number }}">suivante</a>
          <a href="?page={{ queryset.paginator.num_pages }}">Fin &raquo;</a>
        {% endif %}
      </span>
        </div>
        </div>
      {% else %}
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <h1>Pas de substituts connus pour cet aliment !</h1>
          </div>
        </div>
      {% endif %}
  </section>
{% endblock %}
