/*Base*/
html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 150px; /* this needs to be bigger than footer height*/
}

/*Header*/
#logo_pur_beurre {
    width: auto;
    height: 30px;
    padding-right: 10px;
}

#user_logo {
    height: 35px;
    width: 35px;
}

#carrot_logo {
    height: 35px;
    width: 35px;
    fill: #de9440;
}

#carrot_logo:hover {
    fill: #f4623a;
}

#sign_in_logo {
    height: 35px;
    width: 35px;
}

#sign_out_logo {
    height: 35px;
    width: 35px;
}


/*Account template*/
#user_account_section_block_top {
    background-image: url("../images/header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-font {
    font-size: 35px;
}

/*General classes*/
.first_section {
    background-image: url("../images/header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.second_section {
}

.img_and_nutriscore {
}

.nutriscore {
    position: relative;
    left: 90%;
    top: 20px;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}

.rank_a {
    background-color: #3d8954;
    text-align: center;
    color: white;
    padding-top: 0.5rem;
    padding-right: 0.1rem;
}

.rank_b {
    background-color: #8ec05b;
    text-align: center;
    color: white;
    padding-top: 0.5rem;
    padding-right: 0.1rem;
}

.rank_c {
    background-color: #f7cc47;
    text-align: center;
    color: white;
    padding-top: 0.5rem;
    padding-right: 0.1rem;
}

.rank_d {
    background-color: #e78b3d;
    text-align: center;
    color: white;
    padding-top: 0.5rem;
    padding-right: 0.1rem;
}

.rank_e {
    background-color: #de5734;
    text-align: center;
    color: white;
    padding-top: 0.5rem;
    padding-right: 0.1rem;
}

.food_image {
    display: block;
    height: 20rem;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
}

.food_image:hover{
    color: white;
}

.footer {
    position: relative;
    margin-top: -50px; /* negative value of footer height */
    height: 50px;
    clear: both;
    padding-top: 20px;
}