/*Base*/
/*Header*/
#logo_pur_beurre {
    width: auto;
    height: 30px;
    padding-right: 10px;
}

/*Account template*/
#user_account_section_block_top {
    background-image: url("../images/header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
