{% extends 'base.html' %}

{% block title %} - Mon compte
{% endblock %}

{% block content %}
  <section id="user_account_section_block_top" class="page-section h-25">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          {% if user %}
          <h2 class="section_title text-center">{{ user.first_name }}</h2>
          {% else %}
          <h2 class="section_title text-center">{{ user.username }}</h2>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  <section class="page-section h-auto">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="text-black-50">{{ user.email }}</h2>
        </div>
      </div>
    </div>
  </section>
{% endblock %}