{% extends 'base.html' %}

{% block title %}
  - Connexion
{% endblock %}

{% block content %}
  <section class="page-section h-auto">
    <div class="container">
      <h2 class="text-center">Connexion</h2>
      <hr class="divider my-4">
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
              <div class="form-text text-muted">
                <small>{{ field.help_text }}</small>
              </div>
            {% endif %}
          </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Se connecter</button>
        <a href="{% url 'user:signup' %}">Nouveau ici ? S'enregistrer</a>
      </form>
      {% if form.errors %}
        <p>Votre nom d'utilisateur et le mot de passe ne correspondent pas</p>
      {% endif %}
    </div>
  </section>
{% endblock %}